/** @type {import('eslint').Linter.Config} */
{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "@sanity/eslint-config-studio",
    "wesbos/typescript"
  ],
  "rules": {
    "no-console": 1,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2
      }
    ],
    "react/no-unused-prop-types": "warn"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    "/.cache",
    "/node_modules",
    "/.vercel",
    "/build",
    "/public",
    "remix.config.js",
    "prettier.config.js",
    "*.d.ts",
    "/legacy-code"
  ]
}
