@import "./components/BlurrableImage/BlurrableImage.css";
@import "./components/SanitySrcSetImage/SanitySrcSetImage.css";

.sanity-image--standard-image-element {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Cover images */
.sanity-image--cover-image-wrapper {
  position: relative;
  object-fit: cover;
}

.sanity-image--cover-image-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  z-index: 1;
}
