@import "./components/BlurrableImage/BlurrableImage.css";
@import "./components/SanitySrcSetImage/SanitySrcSetImage.css";

.sanity-image img {
  width: 100%;
}

/* Cover images */
.sanity-image--cover-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.sanity-image--cover-image-wrapper img,
.sanity-image--cover-image-element img {
  object-fit: cover;
  width: 100%;
}

/* Contain images */
.sanity-image--contain-image-wrapper {
  position: relative;
}

.sanity-image--cover-image-element {
  object-fit: contain;
}

.sanity-image--contain-image-wrapper img,
.sanity-image--contain-image-element img {
  object-fit: contain;
  width: 100%;
}
